# Core functionality - changes here should be rare!
/src/app.py                   @Praaabin
/src/backend/database.py      @Praaabin
/src/backend/routers/auth.py  @Praaabin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Praaabin
